img{
    width: 60%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

h1{
    text-align: center;
    font-size: 50px;
}

.body{
    font-size: 23px;
    font-family: 'Times New Roman', Times, serif;
}

a {
    font-size: 20px;
}

.italic {
    font-style: italic;
}

h3 {
    text-decoration: underline;
}

iframe{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
